<footer class="pb-5">
    <div class="row">
      <div class="col-12 col-md-4"><img src="/images/header.png" width="260" alt=""></div>
      <div class="col-12 col-md-8">
        <div class="sub-box">
          <h6>Ready For next project or updation?</h6>
          <a href="tel:9447771103" class="contact-me">Contact me</a>
        </div>
      </div>
      <div class="col-12">
        <div class="social-links">
          <a href="mailto:gasalgasal246@gmail.com?subject=contact me from ccda&body=Heyy developer"><i class="fa-brands fa-google"></i></a>
          <a href="https://wa.me/+919447771103?text='Hey!!This is from ccda..'" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
          <a href="https://www.instagram.com/gazal_kmml_/"><i class="fa-brands fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </footer>