<%- include('head.ejs') %>

<!-- NavBar -->
<%- include('components/navbar.ejs') %>
<div class="wrapper-body">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-4 memimg animate__animated animate__fadeInUp">
        <img src="/images/header.png" width="100%">
      </div>
      <div class="col-12 text-center mb-4 memimg animate__animated animate__fadeInLeft">
        <img src="/images/cc1.jpg" width="100%" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
      </div>
      <div class="col-12 col-md-6 mb-4 memimg animate__animated animate__fadeInUp">
        <img src="/images/cc2.jpg" width="100%" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
      </div>
      <div class="col-12 col-md-6 mb-4 memimg animate__animated animate__fadeInUp">
        <img src="/images/cc3.jpg" width="100%" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
      </div>
      <div class="col-12 text-center mb-5 memimg">
        <img src="/images/cc4.jpg" width="100%" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
      </div>
    </div>
  </div>
</div>

<%- include('components/footer.ejs') %>
<%- include('foot.ejs') %>